<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CAROUSEL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/carousel.css" />
    <link rel="stylesheet" href="../js/highlight/atom-one-dark.css">
</head>

<body>
    <div class="container">
        <h1>CAROUSEL</h1>

        <div id="slider-wrap">
            <ul id="slider">
                <li data-color="#1abc9c">
                    <div>
                        <h3>Slide #1</h3>
                        <span>Sub-title #1</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/960a96/000?text=11111">
                </li>

                <li data-color="#3498db">
                    <div>
                        <h3>Slide #2</h3>
                        <span>Sub-title #2</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/D27328/000?text=22222">
                </li>

                <li data-color="#9b59b6">
                    <div>
                        <h3>Slide #3</h3>
                        <span>Sub-title #3</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/FF607F/000?text=33333">
                </li>

                <li data-color="#34495e">
                    <div>
                        <h3>Slide #4</h3>
                        <span>Sub-title #4</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/0A6E0A/000?text=44444">
                </li>

                <li data-color="#e74c3c">
                    <div>
                        <h3>Slide #5</h3>
                        <span>Sub-title #5</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/0064CD/000?text=55555">
                </li>


            </ul>

            <!--controls-->
            <div class="slider-btns" id="next"><span>🡆</span></div>
            <div class="slider-btns" id="previous"><span>🡄</span></div>

            <div id="slider-pagination-wrap">
                <ul>
                </ul>
            </div>
            <!--controls-->
        </div>
    </div>

    <!-- code -->
    <h2>HTML</h2>
    <pre><code class="html">

    </code></pre>

    <h2>CSS</h2>
    <pre><code class="css">

    </code></pre>

    <h2>JavaScript</h2>
    <pre><code class="javascript">

    </code></pre>

    <script src="../js/highlight/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <script src="../js/carousel.js"></script>
</body>

</html>